apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      initContainers:
      - name: postgres-connection
        image: busybox:1.28
        command:
          [
            "sh",
            "-c",
            "until nc -z $DB_HOST $DB_PORT; do echo waiting for database...; sleep 3; done;"
          ]
        env:
        - name: DB_HOST
          value: "postgres"
        - name: DB_PORT
          value: "5432"
      containers:
        - name: backend-todo
          image: 940482423190.dkr.ecr.us-east-1.amazonaws.com/todo-backend:latest
          ports:
          - containerPort: 3000
          env:
          - name: DB_HOST
            value: "postgres"
          - name: DB_PORT
            value: "5432"
          - name: DB_NAME
            value: "mydb"
          - name: DB_USER
            value: "todouser"
          - name: DB_PASSWORD
            value: "yourSecurePassword123"
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - port: 3000
      targetPort: 3000

